*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 5rem;
    font-size: 20px;
}

.header a, li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.header li:hover, .header a:hover{
    border-radius: 5px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

header > nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    padding-right: 1rem;
}

header > h1{
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    cursor: pointer;
}

header > h1:hover{
    color: black;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
    font-weight: 600;
}

.restaurant{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.restaurant:hover{
    color: black;
    background-color: white;
}
/* ion-icon{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
} */

.gallery{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.gallery img{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 15px;
}

.gallery-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 10px;
    padding: 1.5rem;
}

.gallery-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 10px;
    padding: 1rem;
}

.cart-icon{
    position: absolute;
    left: 0;
    top: 88%;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.cart-btn{
    background-color: black;
}

.cart-icon:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: .9rem;
}


input[type=number]{
    position: absolute;
    top: 92.5%;
    left: 10%;
    width: 2vw;
    background-color: black;
    color: white;
}

input[type=number]:hover{
    background-color: white;
    color: black;
}

.gallery-item img:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}
.gallery-item img{
    transition: all 0.5s ease-in-out;
}